:root {
  /* Шрифти */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Колір */
  --main-black-color: #212121;
  --main-white-color: #ffffff;
  --light-color: #757575;
  --accent-color: #2196f3;
  --logo-color: #000000;

  /* Колір фону */
  --main-bg-dark-color: #2f303a;
  --background-color: #f5f4fa;

  /* Інше */
  --transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Основне */
.body {
  font-family: var(--main-font);
  color: var(--light-color);
  letter-spacing: 0.03em;
  background-color: var(--main-white-color);
}

/* Скинути */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link,
.logo {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Інше */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Оснвний контейнер */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}

/* Навігація */
.header-container {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo-header {
  margin-right: 93px;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--accent-color);
}

.logo-color {
  color: var(--logo-color);
}

.header-nav {
  display: flex;

  transition: color var(--transition-duration);
}

.header-container .header-item:not(:last-child) {
  margin-right: 50px;
}

.nav {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-black-color);
}

.nav.active:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  transition: color var(--transition-duration);
}

.header .link:hover,
.header .link:focus,
.header .active {
  color: var(--accent-color);
  cursor: pointer;
}

.container .header-contact {
  display: flex;
  color: var(--light-color);
}

.contants-icon {
  align-items: center;
  fill: currentColor;
  margin-right: 10px;
}

.link-contact {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}

.container .contact:not(:last-child) {
  margin-right: 30px;
}

.header-line {
  border-bottom: 1px solid #ececec;
}

/* Шапка */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Img\ bg\ good.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-bottom: 28px;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
}

.button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 216px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* Модальне вікно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity var(--transition-duration), visibility var(--transition-duration);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 100;

  width: 528px;
  height: 581px;
  background-color: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: var(--transition-duration);
}

.modal-btn {
  position: absolute;
  z-index: 100;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  padding: 6px;
  background-color: var(--main-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: color var(--transition-duration);
}
.modal-btn:hover,
.modal-btn:focus {
  color: var(--accent-color);
}

.register-form-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-black-color);
  margin-top: 40px;
  margin-bottom: 12px;
}

.register-form-group {
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.register-form-field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.register-form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--light-color);
}

.register-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  transition: border-color var(--transition-duration);
}

.register-form-input:focus {
  border-color: var(--accent-color);
}

.register-form-icon {
  position: absolute;
  bottom: 0px;
  left: 12px;
  transform: translateY(-11px);

  transition: fill var(--transition-duration);
}

.register-form-input:focus + .register-form-icon {
  fill: var(--accent-color);
}

.register-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;

  transition: border-color var(--transition-duration);
}

.register-form-message:focus {
  border-color: var(--accent-color);
}

.register-form-message::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.register-form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.icon-checked {
  opacity: 0;

  transition: opacity var(--transition-duration);
}

.register-form-checkbox:checked + .register-form-icons .icon-checked {
  opacity: 1;
}

.icon-unchecked {
  opacity: 1;

  transition: opacity var(--transition-duration);
}

.register-form-checkbox:checked + .register-form-icons .icon-unchecked {
  opacity: 0;
}

/*Фокус на чекбокс  */
/* .register-form-checkbox:focus + .register-form-icons {
  outline: 2px solid black;
  border-radius: 2px;
} */

.register-form-desc {
  user-select: none;

  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--light-color);
}

.register-form-link {
  color: var(--accent-color);
}

.register-form-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
  min-width: 200px;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* Особливості */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
}

.features-icon {
  display: flex;
  width: 270px;
  height: 120px;
  background-size: contain;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  margin-bottom: 30px;
  border-radius: 4px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--main-black-color);
}

.features-text {
  font-size: 14px;
  line-height: calc(24 / 14);
}

/* Чим займаємось */
.work.section {
  padding-top: 0;
}
.work-list {
  display: flex;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--main-black-color);
}

.work-title {
  margin-bottom: 50px;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.work-container {
  position: relative;
}

.work-second-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  color: var(--main-white-color);
  background: rgba(47, 48, 58, 0.8);
}

/* Наша команда */
.team {
  background-color: var(--background-color);
}

.team-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-item {
  background: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--main-black-color);
}

.team-content-wrapper {
  padding: 30px 0;
}

.position {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  margin-bottom: 16px;
}

.socials {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;

  transition: color var(--transition-duration), background-color var(--transition-duration);
}

.socials-link:hover,
.socials-link:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
}

.team-icon {
  fill: currentColor;
}

/* Постійні клієнти */
.customers-title {
  margin-bottom: 50px;
}

.customers-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4%;

  transition: color var(--transition-duration), border-color var(--transition-duration);
}

.customers-link:hover,
.customers-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.customers-icon {
  fill: currentColor;
}

/*  Футер*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--main-bg-dark-color);
}

.address {
  font-style: normal;
}

.footer-container {
  display: flex;
  align-items: baseline;
  gap: 70px;
}

.logo-footer {
  margin-bottom: 20px;
  display: inline-block;
}

.logo-white {
  color: var(--main-white-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.map {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--main-white-color);
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

.footer-join-in {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--main-white-color);
}
.footer-right-list {
  display: flex;
  gap: 10px;
}
.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color var(--transition-duration);
}
.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-color);
}
.socials-icon {
  fill: var(--main-white-color);
}

.footer-subscription {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--main-white-color);
}

.footer-subscription-input {
  padding: 15px 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  background-color: var(--main-bg-dark-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  /* outline: transparent; */

  transition: color var(--transition-duration);
}

.footer-subscription-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscription-input:focus,
.footer-subscription-input:not(:placeholder-shown) {
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscription-btn {
  display: inline-flex;
  min-width: 200px;
  padding: 10px 28px;
  align-items: center;
  text-align: center;
  gap: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;

  cursor: pointer;
}

/* Сторінка Портфоліо */
.portfolio {
  background-color: var(--main-white-color);
}

/* Портфоліо фільтер */
.filter-list {
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
  justify-content: center;
}

.filter-btn {
  display: inline-block;
  padding: 6px 22px;
  border: 1px solid transparent;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-black-color);
  background-color: var(--background-color);
  border-radius: 4px;
  cursor: pointer;

  transition: color var(--transition-duration), background-color var(--transition-duration),
    box-shadow var(--transition-duration);
}

.btn-active {
  color: var(--main-white-color);
  background-color: var(--accent-color);
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--main-white-color);
}

/* Портфоліо */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  flex-basis: calc((100% - 30px * 2) / 3);
  border: 1px solid #eeeeee;
}
.portfolio-content {
  padding: 20px 24px;
}

.portfolio-title {
  font-style: normal;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--main-black-color);
  margin-bottom: 4px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
}

.portfolio-link {
  display: block;
  transition: box-shadow var(--transition-duration);
}

.portfolio-link:hover,
.portfolio-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfilio-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(101%);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform var(--transition-duration);
}

.portfolio-item:hover .overlay {
  transform: translateY(0);
}

.overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--main-white-color);
}
